absl-py
alabaster
astunparse
attrs
Babel
bcrypt
beautifulsoup4
cachetools
certifi
cffi
chardet
click
colormath
colorthief
cycler
decorator
dlib
dnspython
docutils
face-detection-tflite
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
flatbuffers
furo
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
imagesize
imutils
itsdangerous
Jinja2
joblib
keras-nightly
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mediapipe
networkx
numpy
oauthlib
opencv-contrib-python
opencv-python-headless
opt-einsum
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
Pygments
PyJWT
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
PyWavelets
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
six
snowballstemmer
soupsieve
Sphinx
sphinx-press-theme
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tifffile
typing-extensions
urllib3
Werkzeug
wrapt
